{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "markup","git"],
          "plugins": ["line-numbers","copy-to-clipboard"],
          "theme": "tomorrow",
          "css": true
      }]
    ]
  }